In [1]:
import pandas as pd

In [9]:
def read_data():
    df = pd.read_csv("H1B_Visas_2019-2020.csv")

    return df

df_raw = read_data()

print(df_raw.info())

/Users/markboenigk/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (28,42,78,82,89) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577334 entries, 0 to 577333
Data columns (total 96 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     577334 non-null  object
 1   CASE_STATUS                     577334 non-null  object
 2   RECEIVED_DATE                   577334 non-null  object
 3   DECISION_DATE                   577334 non-null  object
 4   ORIGINAL_CERT_DATE              16738 non-null   object
 5   VISA_CLASS                      577334 non-null  object
 6   JOB_TITLE                       577333 non-null  object
 7   SOC_CODE                        577334 non-null  object
 8   SOC_TITLE                       577334 non-null  object
 9   FULL_TIME_POSITION              577334 non-null  object
 10  BEGIN_DATE                      577334 non-null  object
 11  END_DATE                        577334 non-null  object
 12  TOTAL_WORKER_POSITIONS          577334 non-null  int64
 13  NEW_EMPLOYMENT                  577334 non-null  int64
 14  CONTINUED_EMPLOYMENT            577334 non-null  int64
 15  CHANGE_PREVIOUS_EMPLOYMENT      577334 non-null  int64
 16  NEW_CONCURRENT_EMPLOYMENT       577334 non-null  int64
 17  CHANGE_EMPLOYER                 577334 non-null  int64
 18  AMENDED_PETITION                577334 non-null  int64
 19  EMPLOYER_NAME                   577329 non-null  object
 20  TRADE_NAME_DBA                  84731 non-null   object
 21  EMPLOYER_ADDRESS1               577334 non-null  object
 22  EMPLOYER_ADDRESS2               287853 non-null  object
 23  EMPLOYER_CITY                   577334 non-null  object
 24  EMPLOYER_STATE                  577334 non-null  object
 25  EMPLOYER_POSTAL_CODE            577334 non-null  object
 26  EMPLOYER_COUNTRY                577334 non-null  object
 27  EMPLOYER_PROVINCE               52013 non-null   object
 28  EMPLOYER_PHONE                  577334 non-null  object
 29  EMPLOYER_PHONE_EXT              36107 non-null   float64
 30  NAICS_CODE                      577334 non-null  int64
 31  EMPLOYER_POC_LAST_NAME          577329 non-null  object
 32  EMPLOYER_POC_FIRST_NAME         577255 non-null  object
 33  EMPLOYER_POC_MIDDLE_NAME        97921 non-null   object
 34  EMPLOYER_POC_JOB_TITLE          577329 non-null  object
 35  EMPLOYER_POC_ADDRESS1           577334 non-null  object
 36  EMPLOYER_POC_ADDRESS2           292500 non-null  object
 37  EMPLOYER_POC_CITY               577334 non-null  object
 38  EMPLOYER_POC_STATE              576969 non-null  object
 39  EMPLOYER_POC_POSTAL_CODE        577334 non-null  object
 40  EMPLOYER_POC_COUNTRY            577334 non-null  object
 41  EMPLOYER_POC_PROVINCE           1347 non-null    object
 42  EMPLOYER_POC_PHONE              577334 non-null  object
 43  EMPLOYER_POC_PHONE_EXT          39336 non-null   float64
 44  EMPLOYER_POC_EMAIL              569140 non-null  object
 45  AGENT_REPRESENTING_EMPLOYER     577334 non-null  object
 46  AGENT_ATTORNEY_LAST_NAME        405668 non-null  object
 47  AGENT_ATTORNEY_FIRST_NAME       405668 non-null  object
 48  AGENT_ATTORNEY_MIDDLE_NAME      229025 non-null  object
 49  AGENT_ATTORNEY_ADDRESS1         405668 non-null  object
 50  AGENT_ATTORNEY_ADDRESS2         316844 non-null  object
 51  AGENT_ATTORNEY_CITY             405668 non-null  object
 52  AGENT_ATTORNEY_STATE            405326 non-null  object
 53  AGENT_ATTORNEY_POSTAL_CODE      405668 non-null  object
 54  AGENT_ATTORNEY_COUNTRY          405668 non-null  object
 55  AGENT_ATTORNEY_PROVINCE         14893 non-null   object
 56  AGENT_ATTORNEY_PHONE            405668 non-null  float64
 57  AGENT_ATTORNEY_PHONE_EXT        32960 non-null   float64
 58  AGENT_ATTORNEY_EMAIL_ADDRESS    405557 non-null  object
 59  LAWFIRM_NAME_BUSINESS_NAME      405663 non-null  object
 60  STATE_OF_HIGHEST_COURT          404957 non-null  object
 61  NAME_OF_HIGHEST_STATE_COURT     404940 non-null  object
 62  WORKSITE_WORKERS                564001 non-null  float64
 63  SECONDARY_ENTITY                575373 non-null  object
 64  SECONDARY_ENTITY_BUSINESS_NAME  198600 non-null  object
 65  WORKSITE_ADDRESS1               577334 non-null  object
 66  WORKSITE_ADDRESS2               150517 non-null  object
 67  WORKSITE_CITY                   577323 non-null  object
 68  WORKSITE_COUNTY                 577222 non-null  object
 69  WORKSITE_STATE                  577334 non-null  object
 70  WORKSITE_POSTAL_CODE            577334 non-null  object
 71  WAGE_RATE_OF_PAY_FROM           577334 non-null  float64
 72  WAGE_RATE_OF_PAY_TO             193332 non-null  float64
 73  WAGE_UNIT_OF_PAY                577334 non-null  object
 74  PREVAILING_WAGE                 575374 non-null  object
 75  PW_UNIT_OF_PAY                  575374 non-null  object
 76  PW_TRACKING_NUMBER              1360 non-null    object
 77  PW_WAGE_LEVEL                   547968 non-null  object
 78  PW_OES_YEAR                     550129 non-null  object
 79  PW_OTHER_SOURCE                 34842 non-null   object
 80  PW_OTHER_YEAR                   23464 non-null   float64
 81  PW_SURVEY_PUBLISHER             19644 non-null   object
 82  PW_SURVEY_NAME                  19267 non-null   object
 83  TOTAL_WORKSITE_LOCATIONS        564001 non-null  float64
 84  AGREE_TO_LC_STATEMENT           577334 non-null  object
 85  H-1B_DEPENDENT                  564528 non-null  object
 86  WILLFUL_VIOLATOR                564520 non-null  object
 87  SUPPORT_H1B                     197622 non-null  object
 88  STATUTORY_BASIS                 195964 non-null  object
 89  APPENDIX_A_ATTACHED             1091 non-null    object
 90  PUBLIC_DISCLOSURE               577158 non-null  object
 91  PREPARER_LAST_NAME              272513 non-null  object
 92  PREPARER_FIRST_NAME             272537 non-null  object
 93  PREPARER_MIDDLE_INITIAL         119835 non-null  object
 94  PREPARER_BUSINESS_NAME          289057 non-null  object
 95  PREPARER_EMAIL                  292574 non-null  object
dtypes: float64(9), int64(8), object(79)
memory usage: 422.9+ MB
None

In [48]:
def delete_columns(df_raw):
    df = df_raw[["CASE_NUMBER","CASE_STATUS","RECEIVED_DATE",\
        "VISA_CLASS","JOB_TITLE","SOC_CODE","SOC_TITLE","FULL_TIME_POSITION","BEGIN_DATE","END_DATE",\
            "TOTAL_WORKER_POSITIONS", "NEW_EMPLOYMENT", "CONTINUED_EMPLOYMENT", "NEW_CONCURRENT_EMPLOYMENT",\
                 "CHANGE_EMPLOYER", "AMENDED_PETITION", "EMPLOYER_NAME","AGENT_REPRESENTING_EMPLOYER", "PREVAILING_WAGE", \
            "PW_UNIT_OF_PAY","EMPLOYER_STATE","EMPLOYER_COUNTRY", "NAICS_CODE", "AGENT_REPRESENTING_EMPLOYER"]]
    return df

df_1 = delete_columns(df_raw)

#print(df_1.info())
import numpy as np

def case_status_table(df_1):
    df = pd.DataFrame(data=df_1["CASE_STATUS"].unique(), columns=["visa_status"])
    df.index = np.arange(1,len(df) + 1)
    return df

case_status_df = case_status_table(df_1)
#print(case_status_df)


def visa_class_table(df_1):
    df = pd.DataFrame(data=df_1["VISA_CLASS"].unique(), columns=["visa_class"])
    df.index = np.arange(20, 20 + len(df))
    return df

visa_class_df = visa_class_table(df_1)
#print(visa_class_df)


def state_table(df_1):
    df = pd.DataFrame(data=df_1["EMPLOYER_STATE"].unique(), columns=["state_code"])
    df.index = np.arange(100, 100 + len(df))
    return df

state_df = state_table(df_1)
print(state_df)

    state_code
100         OH
101         CA
102         MI
103         IA
104         GA
105         TX
106         KS
107         NJ
108         IL
109         VA
110         CT
111         NC
112         NY
113         NM
114         WA
115         MD
116         KY
117         PA
118         CO
119         FL
120         IN
121         VT
122         TN
123         DC
124         MA
125         MO
126         MN
127         SC
128         ND
129         NE
130         WI
131         OR
132         RI
133         AR
134         OK
135         AZ
136         DE
137         NH
138         UT
139         LA
140         WY
141         WV
142         NV
143         AL
144         SD
145         PR
146         GU
147         ME
148         MS
149         HI
150         MP
151         ID
152         MT
153         AK
154         VI
155         FM